#my-root div div div {
    padding: 30px;
    text-align: center;
    margin: 10px;
    border-radius: 13px;
}

#numberRow div div {
    background-color: azure;
    
}

.row {
    margin-bottom: 10px;
}