#my-root div div div {
    padding: 65px;
    text-align: center;
    margin: 5px;
    border-radius: 13px;
    font-size: 32px;
}

#originalNumberRow div div {
    background-color: azure;
    padding: 40px !important;
}

.row {
    margin-bottom: 10px;
}

.first-pointer {
    background-color: red;
}

.second-pointer {
    background-color: blue;
}