#my-root div div div {
    padding: 30px;
    text-align: center;
    margin: 10px;
    border-radius: 13px;
}

#originalNumberRow div div {
    background-color: azure;
    
}

.row {
    margin-bottom: 10px;
}

.first-pointer {
    background-color: red;
}