---
layout: default
---
<!DOCTYPE html>
{% assign arrayLength = site.data.settings.game-settings.arrayLength %}
{% assign maxIndex = arrayLength | minus: 1 %}
<!--There are 12 columns in bootsrap and they are divided among the numbers. The result determins how many columns each number has.-->
{% assign columnSpan = 12 | divided_by: arrayLength %}
<div draggable="false" id="my-root" class="container-fluid">
    <div id="originalNumberRow" class="row">
        {% for i in (0..maxIndex) %}
        <div class="col-sm-{{ columnSpan }}"><div id="{{ i }}originalNumber" draggable="true" ondragstart="dragNumber(event)"></div></div>
        {% endfor %}
    </div>
    <div id="originalPointerRow" class="row">
        {% for i in (0..maxIndex) %}
        <div class="col-sm-{{ columnSpan }}"><div id="{{ i }}originalPointer" draggable="true" ondragstart="dragPointer(event)"></div></div>
        {% endfor %}
    </div>
    <div id="newNumberRow" class="row">
        {% for i in (0..maxIndex) %}
        <div class="col-sm-{{ columnSpan }}"><div id="{{ i }}newNumber" class="well" ondrop="dropNumber(event)" ondragover="allowNumberDrop(event)"  draggable="true" ondragstart="dragNumberAndDeleteThis(event)"></div></div>
        {% endfor %}
    </div>
    <div id="newPointerRow" class="row">
        {% for i in (0..maxIndex) %}
        <div class="col-sm-{{ columnSpan }}" ><div id="{{ i }}newPointer" draggable="true" ondragstart="dragPointer(event)" ondrop="dropPointer(event)" ondragover="allowPointerDrop(event)"></div></div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <button type="button" onclick="showNextStep()" class="btn btn-primary btn-xlarge">show next step</button>
    </div> 
    <div class="col-sm-4">
        <button type="button" onclick="nextIteration()" class="btn btn-success btn-xlarge">next iteration</button>
    </div> 
</div>
<div class="row">
    <div class="col-md-6">
        <h1>Getting started</h1>
        <h2>The purpose</h2>
        <p>This game is meant to help you learn sorting algorithms by letting you do each step and giving you feedback.</p>
        <h2>How does this game work</h2>
        <p>This game consists of four rows:</p>
        <ol>
            <li>the original numbers that are about to be sorted</li>
            <li>the original pointers that the algorithm needs to work</li>
            <li>the numbers in the next step</li>
            <li>the pointers in the next step</li>
        </ol>
        <h3>What are you supposed to do?</h3>
        <ol>
            <li>You need to know how the sorting algorithm works. The algorithm is explained <a href="#algorithm-specifics">on this page</a></li>
            <li>Look at the first row and determine which numbers are going to be interchanged in the next step. Interchange those numbers yourself by dragging them to their new position in the third row.</li>
            <li>Look at the pointers and detetermine where they will be in the next step. Drag them to their new position in the fourth row.</li>
            <li>Click next iteration. If your predictions were right, the algorithm will proceed. If you didn't predict the next situation correctly, you'll be advised.</li>
        </ol>
    </div>
    <div class="col-md-6">
        <div id="algorithm-specifics" class="container-fluid">
            {{ content }}
        </div>
    </div>
</div>