---
layout: default
---
<!DOCTYPE html>
<script src="script.js"></script>
<link href="game-style.css" type="text/css" rel="stylesheet">
<div draggable="false" id="my-root" class="container-fluid">
    <div style="min-height: 50px;" id="originalNumberRow" class="row">
        {% for i in (0..11) %}
        <div class="col-sm-1"><div id="{{ i }}originalNumber" draggable="true" ondragstart="dragNumber(event)"></div></div>
        {% endfor %}
    </div>
    <div style="min-height: 50px;" id="originalPointerRow" class="row">
        {% for i in (0..11) %}
        <div class="col-sm-1"><div id="{{ i }}originalPointer" draggable="true" ondragstart="dragPointer(event)"></div></div>
        {% endfor %}
    </div>
    <div  id="newNumberRow" class="row">
        {% for i in (0..11) %}
        <div class="col-sm-1"><div id="{{ i }}newNumber" class="well" ondrop="dropNumber(event)" ondragover="allowNumberDrop(event)"></div></div>
        {% endfor %}
    </div>
    <div style="min-height: 50px;" id="newPointerRow" class="row">
        {% for i in (0..11) %}
        <div class="col-sm-1" ><div id="{{ i }}newPointer" ondrop="dropPointer(event)" ondragover="allowPointerDrop(event)"></div></div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <button type="button" onclick="resetStep()" class="btn btn-danger">reset step</button>
    </div>
    <div class="col-sm-4">
        <button type="button" onclick="nextIteration()" class="btn btn-primary">next iteration</button>
    </div> 
</div>